body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.usersDiv {
  width: 530px;
  margin: auto;
}

form p {
  font-size: 1.3rem;
}

form input {
  height: 1.8rem;
  font-size: 1.1rem;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--theme);
}

.addBtn {
  height: 30px;
  width: 65px;
  font-size: 0.9rem;
  border: 0;
  border-radius: 5px;
  margin: 1rem 0;
  background: var(--theme);
  cursor: pointer;
}
